<img src='hangman_6.png' alt="hanged man" class="picture">
<p> Joan of Arc has been convicted of heresy! </p>
<p> Guess the word to save her life. </p>
<form method="post">
  <input type='submit' value='New Game'>
</form>
