<img src='hangman_6.png' alt="hanged man">
<p> A man stands falsely accused of heresey. </p>
<p> Guess the word to save his life. </p>
<form method="post">
  <input type='submit' value='New Game'>
</form>
