<html>
  <head>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/glacial-indifference" type="text/css"/>

    <style>
/*  image is currently at 371 * 379. Just needs to be a bit smaller to fit on one page*/
      #content-wrapper{
        margin: auto;
        width: 800px;
        border: 3px solid black;
      }

      #content{
        text-align: center;
        vertical-align: middle;
      }

      #gapped_solution {
        font-size: 200%
      }

      .picture {
        width: 200px;
        height: 200px;
      }

      * {
        font-family: 'GlacialIndifferenceRegular';
        font-weight: normal;
        font-style: normal;
      }


    </style>
  </head>
  <body>
    <div id="content-wrapper">
      <div id="content">
        <h1>Hangman</h1>
        <%= yield %>
      </div>
    </div>
  </body>
</html>


<!--  <html>
  <head>
    <style>
      #main-wrapper {
        margin: auto;
        width: 600px;
        /*border: 3px solid grey;*/
        padding: 10px;
      }

      #content {
        font-family: Verdana, Geneva, sans-serif;
        text-align: center;
        vertical-align: middle;
      }
    </style>
  </head>
  <body>
    <div id="main-wrapper">
      <%= yield %>
    </div>
  </body>
</html>
-->
