<p> What have you done? </p>

<img src="hangman_lose.png" alt="Dead Joan" class="picture">

<h5><%= @solution.join("").upcase %></h5>

<form method="post" action="/">
  <input type='submit' value='New Game' autofocus>
</form>
