<h3 id="gapped_solution"><%= @gapped_solution.join(" ") %></h3>

<h3> Incorrect guesses: <%= @incorrect_guesses.join(" ") %> </h3>
<img src="public/hangman_6.png">
<h3> <%= @warning_message if @warning_message %> </h3>
<h3> <%= @guesses_remaining %> guesses remaining </h3>

<form method="post">
  <input type='text' name='guess' maxlength="1" pattern="[a-z]" required>
  <input type='submit' value='Guess!'>
</form>
