<h5><%= @solution.join("").upcase %></h5>
<p> Congratulations! You saved Joan of Arc! </p>
<p> Unfortunately she later died of an exploded head. </p>

<img src="hangman_win.png" alt="Exploded Head Joan" class="picture">

<form method="post" action="/">
  <input type='submit' value='New Game'>
</form>
